API_SECRET_KEY=your_api_secret_key
ADMIN_KEY=your_admin_key
NEXT_PUBLIC_BASE_URL=http://localhost:3000
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token
KV_URL=your_kv_url
KV_REST_API_URL=your_kv_rest_api_url
KV_REST_API_TOKEN=your_kv_rest_api_token
KV_REST_API_READ_ONLY_TOKEN=your_kv_rest_api_read_only_token
